html {
  font-size: 1em;

  scroll-behavior: smooth;
}

body {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 20px;

  color: #333E48;
}

h1 {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;

  color: #111111;
}

.wrapper {
  display: flex;
  min-height: 100%;

  flex-direction: column;

  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 47px;

  max-width: 1346px;
}

.header__container {
  padding-top: 213px;
  margin-bottom: 32px;
}

.header__title {
  max-width: 753px;
}
