.months__title {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #575757;
}

.months__field {
  position: relative;
  display: flex;

  height: 68px;

  background: #F3F3F4;
  border-radius: 16px;
}

.months__input {
  height: 100%;
  width: 100%;

  padding: 16px 24px;

  background: transparent;

  &:focus {
    background-color: #FFFFFF;
    border: 2px solid #F3F3F4;
    border-radius: 16px;

    & ~ .months__slider::-webkit-slider-runnable-track {
      height: 1px;
    }
    & ~ .months__slider::-moz-range-track {
      height: 1px;
    }
  }

  &:disabled {
    opacity: 0.5;

    & ~ .months__measure {
      opacity: 0.5;
    }
    & ~ .months__slider {
      opacity: 0.5;
    }
  }
}

.months__measure {
  position: absolute;

  top: 16px;
  right: 24px;
}

.months__input,
.months__measure {
  background: transparent;

  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  color: #575757;
}

.months__input {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
}

.months__slider {
  position: absolute;

  bottom: 0;
  left: 24px;
  right: 24px;
}